
   

/* estrella 1 */

 .container__star,
 .container__star::before,
 .container__star::after{
     width: 0;
     border-color: transparent transparent yellow transparent;
     border-width: 0 4rem 2.5rem 4rem;
     border-style: solid;
     position: absolute;
     transform: rotate(180deg);
     margin-top: 2.75rem;
     margin-left: 0.25rem;    
 }
 
 .container__star::before{
     content: '';
     margin-top: -0.15rem;
       margin-left: -4.3rem;
     transform: rotate(70deg);
 }
 
 .container__star::after{
     content: '';
     margin-top: -0.29rem;
       margin-left: -3.87rem;
     transform: rotate(-70deg);
 }
 /* estrella2*/
 
 .container__star1,
 .container__star1::before,
 .container__star1::after{
     width: 0;
     border-color: transparent transparent purple transparent;
     border-width: 0 4rem 2.5rem 4rem;
     border-style: solid;
     position: absolute;
     transform: rotate(180deg);
     margin-top: 2.75rem;
     margin-left:9rem;    
 }
 
 .container__star1::before{
     content: '';
     margin-top: -0.15rem;
       margin-left: -4.3rem;
     transform: rotate(70deg);
 }
 
 .container__star1::after{
     content: '';
     margin-top: -0.29rem;
       margin-left: -3.87rem;
     transform: rotate(-70deg);
 }
 
 /* estrella 3*/

 
 .container__star,
 .container__star::before,
 .container__star::after{
     width: 0;
     border-color: transparent transparent yellow transparent;
     border-width: 0 4rem 2.5rem 4rem;
     border-style: solid;
     position: absolute;
     transform: rotate(180deg);
     margin-top: 2.75rem;
     margin-left: 0.25rem;    
 }
 
 .container__star::before{
     content: '';
     margin-top: -0.15rem;
       margin-left: -4.3rem;
     transform: rotate(70deg);
 }
 
 .container__star::after{
     content: '';
     margin-top: -0.29rem;
       margin-left: -3.87rem;
     transform: rotate(-70deg);
 }
 /* estrella2*/
 
 .container__star2,
 .container__star2::before,
 .container__star2::after{
     width: 0;
     border-color: transparent transparent red transparent;
     border-width: 0 4rem 2.5rem 4rem;
     border-style: solid;
     position: absolute;
     transform: rotate(180deg);
     margin-top: 2.75rem;
     margin-left:18rem;    
 }
 
 .container__star2::before{
     content: '';
     margin-top: -0.15rem;
       margin-left: -4.3rem;
     transform: rotate(70deg);
 }
 
 .container__star2::after{
     content: '';
     margin-top: -0.29rem;
       margin-left: -3.87rem;
     transform: rotate(-70deg);
 }
 /* estrella 4*/
 
 .container__star3,
 .container__star3::before,
 .container__star3::after{
     width: 0;
     border-color: transparent transparent green transparent;
     border-width: 0 4rem 2.5rem 4rem;
     border-style: solid;
     position: absolute;
     transform: rotate(180deg);
     margin-top: 2.75rem;
     margin-left:27rem;    
 }
 
 .container__star3::before{
     content: '';
     margin-top: -0.15rem;
       margin-left: -4.3rem;
     transform: rotate(70deg);
 }
 
 .container__star3::after{
     content: '';
     margin-top: -0.29rem;
       margin-left: -3.87rem;
     transform: rotate(-70deg);
 }
